<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
        <ion-back-button
        defaultHref="/dashboard/tabs/tab2"
        text="Back"
        icon="ios-arrow-back"
        color="light"
      ></ion-back-button>
      </ion-buttons>
    <ion-title class="text-center">Club de lectura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="headerbooks light-bg">
    <ion-text class="text-white"> Libros de la semana </ion-text>
  </div>
  <div class="container-fluid">
    <div class="row books">
      <div
        class="col-6 book border"
        *ngFor="let book of books; index as i"
        tappable
        (click)="viewDetail(book.id)"
        margin-bottom
      >
        <div class="bookinside">
          <!-- <div class="background-filter rlt"> -->
          <img src="{{ book.thumb }}" class="paddingb10" />
          <!-- <div class="align-bottom" padding-left padding-right> -->
          <h6 class="text-center font-weight-bold pt-1">{{ book.name }}</h6>
        </div>
      </div>
      <!-- </div>
      </div> -->
    </div>
  </div>
</ion-content>
