<ion-header>
  <ion-toolbar color="primary"> <ion-title>Login</ion-title> </ion-toolbar>
</ion-header>

<ion-content padding class="flex-strech">
  <div class="img-login"></div>
  <ion-input
    class="mt-2"
    [formControl]="Username$"
    placeholder="Username"
    class="text-center"
  ></ion-input>
  <ion-input
    [formControl]="Password$"
    placeholder="Password"
    class="text-center"
    type="password"
  ></ion-input>

  <ion-button class="mt-3" (click)="login()" expand="block">Login</ion-button>
  <ion-button expand="block" href="/register" routerDirection="forward"
    >Register</ion-button
  >
</ion-content>
