<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Conciertos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="headerConciertos light-bg">
    <ion-text class="text-white"> Conciertos de {{ viewTitle }} </ion-text>
  </div>

  <calendar
    [eventSource]="eventSource"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)"
    step="30"
    class="calendar"
  >
  </calendar>
</ion-content>
