<ion-header>
  <ion-toolbar>
    <ion-title class="primary-bg"> Tab Three </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ProfileSettings light-bg">
    <ion-icon name="contact" class="text-white medium-size"></ion-icon>
    <ion-text class="text-white"> Username </ion-text>
    <ion-icon
      class="pull-right text-white medium-size"
      name="settings"
    ></ion-icon>
  </div>
  <div class="Profile">
    <ion-text><strong>NAME</strong></ion-text>
    <ion-text>Nº SOCIO</ion-text>
  </div>
  <div class="PointsTitle grey-bg">
    <ion-text class="text-white">TUS PUNTOS</ion-text>
  </div>
  <div class="PointsShow"></div>
</ion-content>
