<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button
        defaultHref="/dashboard/tabs/tab3"
        text="Back"
        icon="ios-arrow-back"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Antigua contraseña</ion-label>
    <ion-input [(ngModel)]="oldpass" type="password"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Nueva Contraseña</ion-label>
    <ion-input [(ngModel)]="newpass" type="password"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Confirmar contraseña</ion-label>
    <ion-input [(ngModel)]="newpass2" type="password"></ion-input>
  </ion-item>
  <ion-button class="btn-all" (click)="change()">Cambiar</ion-button>
</ion-content>
