<ion-header>
  <ion-toolbar color="primary">
  <ion-buttons slot="start">
        <ion-back-button
        defaultHref="/dashboard/tabs/tab2"
        text="Back"
        icon="ios-arrow-back"
        color="light"
      ></ion-back-button>
      </ion-buttons>
    <ion-title class="text-center">Actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="classes detail-bg">
    <!--list of trips-->
    <ul [@listStagger]="classes">
    <li class="class card" *ngFor="let class of classes" tappable (click)="viewDetail(class.id)" margin-bottom>
      <div class="background border-bottom" [ngStyle]="{'background-image': 'url(' + class.thumb + ')'}">
        <div class="background-filter rlt">
          <div class="align-bottom" padding-left padding-right>
            <h6 class="pull-left text-white">{{ class.name }}</h6>
            <!-- <h6 class="pull-right text-white" ion-text>{{ notice. }}</h6> -->
            <div class="clear"></div>
          </div>
        </div>
      </div>
      <div class="padding-xm light-bg">
        <ion-icon name="time" class="text-white"></ion-icon>
        <ion-text class="text-white">{{ class.hours }}</ion-text>
        <!-- <ion-text class="pull-right text-white" color="light">{{class.description}}</ion-text> -->
      </div>
    </li>
    </ul>
  </ion-content>
