<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button
        defaultHref="/dashboard/tabs/tab3"
        text="Back"
        icon="ios-arrow-back"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<div class="vertical-mid">
  <p class="text-center">Para mas información pongase en contacto a traves del numero 954 77 55 33</p>
  <p class="text-center">o bien</p>
  <p class="text-center">por nuestro correo electronio Baterianos@gmail.com</p>
</div>
</ion-content>
