<ion-header>
  <ion-toolbar color="primary"
    ><ion-buttons slot="start">
      <ion-back-button
        defaultHref="/dashboard/tabs/actividades"
        text="Back"
        icon="ios-arrow-back"
        color="dark"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Añadir Actividad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  <form [formGroup]="FormActivity" (ngSubmit)="addActivity(FormActivity.value)">
    <ion-item>
      <ion-label>Titulo</ion-label>
      <ion-input type="text" formControlName="name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-textarea formControlName="description" name="description"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Horas</ion-label>
      <ion-input type="text" formControlName="hours" name="hours"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Profesor</ion-label>
      <ion-input type="text" formControlName="profesor" name="profesor"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>URL de imagen</ion-label>
      <ion-textarea formControlName="thumb" name="thumb"></ion-textarea>
    </ion-item>
    <ion-button color="dark" type="submit" block>Crear Actividad</ion-button>
  </form>
</ion-content>
